<section class="welcome">
    <div class="col-md-8 col-md-offset-2">
        <h3>Shop Puppet</h3>
        <p>Welcome to the Puppet Labs Shop! We're delighted to bring you our most popular Puppet items &mdash; and hope you'll be thrilled to show off your Puppet pride.</p>
        <br />
        <p>Have a suggestion for a new item?
            <button class="btn btn-sm" redirect="contact">Tell Us!</button>
        </p>
    </div>
</section>
<section>
    <div class="row">
        <div class="product-list-container" ng-class="{ 'col-md-8 col-md-offset-2': navStatus.visible, 'col-md-12': !navStatus.visible }" >
            <loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}"/>
            <productlistview></productlistview>
        </div>
    </div>
</section>