<section class="welcome">
    <div class="col-md-9 col-md-offset-2">
        <h3>Shop Puppet</h3>
        <p>Welcome to the Puppet Labs Shop! We're delighted to bring you our most popular Puppet items &mdash; and hope you'll be thrilled to show off your Puppet pride.</p>
        <br />
        <p>Have a suggestion for a new item?
            <button class="btn btn-sm" redirect="contact">Tell Us!</button>
        </p>
    </div>
</section>
<section>
    <div class="product-list-container col-xs-12 col-md-9 col-md-offset-2">
        <loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}"/>
        <productlistview></productlistview>
    </div>
</section>