<footer class="container copyright-view" ng-hide="isInPath('cart') || isInPath('admin') || isInPath('checkout')">
    <div class="col-md-1">
        <div class="row">
            <h5>
            <p><i class="fa fa-map-marker"></i> Address:</p>
                <br>
            <p><i class="fa fa-phone"></i> Phone:</p>
            <p><i class="fa fa-envelope"></i> Email:</p>
            </h5>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <h5>
                <p>
                    308 SW 2nd Ave, 5th Floor
                    <br>
                    Portland, OR 97204 USA
                </p>
                <p>877-575-9775</p>
                <p><a href="mailto:shop@puppetlabs.com">shop@puppetlabs.com</a></p>
            </h5>
        </div>
    </div>
    <div class="col-md-3 pull-right">
        <div class="row text-right">
            <h5>
                <p>
                <a href=https://puppetlabs.com/about/careers" target="_blank">Careers</a> | <a href="https://puppetlabs.com/about" target="_blank">Company</a> | <a href="http://shop.puppetlabs.com/contact-us" target="_blank">Contact Us</a>
                <br><br>
                &copy; 2014 Puppet Labs
                </p>
            </h5>
        </div>
    </div>
</footer>