<!--<footer class="container copyright-view" ng-hide="isInPath('cart') || isInPath('admin') || isInPath('checkout')">-->
<footer class="container copyright-view">
    <div class="row footer-wrapper">
        <div class="col-xs-12 col-md-6 col-md-offset-1 pull-left">

           <div class="labels">
               <i class="fa fa-map-marker"></i> Address:<br /><br />
               <i class="fa fa-phone"></i> Phone:<br />
               <i class="fa fa-envelope"></i> Email:
           </div>

            <div class="info">
                308 SW 2nd Ave, 5th Floor<br />
                Portland, OR 97204 USA<br />
                <a href="tel:877-575-9775">877-575-9775</a><br />
                <a href="mailto:shop@puppetlabs.com">shop@puppetlabs.com</a>
            </div>

        </div>
        <div class="col-xs-12 col-md-5">
            <p class="links">
                <a target="_blank" href="//puppetlabs.com/about/careers">Careers</a> |
                <a target="_blank" href="//puppetlabs.com/about">Company</a> |
                <a href="contact">Contact Us</a>
                <br />
                &copy; 2014 Puppet Labs
            </p>
        </div>
    </div>
</footer>