<ul>
    <style ng-if="continue">
        .cart orderbuttons ul li:nth-of-type(1) {
            width: 33%;
            padding-left:0.5em;
            display: inline-block;
        }
        .cart orderbuttons ul li:nth-of-type(2) {
            width: 17%;
            padding-left:0.5em;
            display: inline-block;
            float: right;
        }
        .cart orderbuttons ul li:nth-of-type(3) {
            width: 17%;
            padding-left:0.5em;
            display: inline-block;
            float: right;
        }
        .cart orderbuttons ul li:nth-of-type(4) {
            width: 33%;
            padding-left:0.5em;
            display: inline-block;
            float: right;
        }
        .cart orderbuttons ul li a {
            padding-top: 9px;
            padding-bottom: 9px;
        }

        @media (max-width: 768px) {
            .cart orderbuttons ul li:nth-of-type(1),
            .cart orderbuttons ul li:nth-of-type(2),
            .cart orderbuttons ul li:nth-of-type(3){
                width:100%;
                padding-bottom:10px;
                float:left;
            }
        }
    </style>
    <li ng-if="continue">
        <button type="button" class="btn btn-info" redirect="catalog">
            <small class="hidden-xs">{{'Continue Shopping' | r | xlat}}</small>
            <small class="visible-xs">{{'Shop' | r | xlat}}</small>
        </button>
    </li>
    <li>
        <button type="button" class="btn" ng-class="{'btn-warning': cart.$invalid, 'btn-success': !cart.$invalid }" ng-if="user.Type == 'TempCustomer'" ng-click="checkOut()" ng-disabled="cart.$invalid || kitValidation">
            <i ng-show="cart.$invalid || kitValidation" class="fa fa-warning"></i>
            <span>{{'Guest Check Out' | r | xlat}} {{window.outerWidth}}</span>
        </button>
    </li>
    <li>
        <a type="button" class="btn" ng-class="{'btn-warning': cart.$invalid, 'btn-success': !cart.$invalid }" ng-if="user.Type == 'TempCustomer'" href="admin" ng-disabled="cart.$invalid || kitValidation">
            <i ng-show="cart.$invalid || kitValidation" class="fa fa-warning"></i>
            <span>{{'Login / Check Out' | r | xlat}} {{window.outerWidth}}</span>
        </a>
    </li>
    <li>
        <button type="button" class="btn" ng-class="{'btn-warning': cart.$invalid, 'btn-success': !cart.$invalid }" ng-if="user.Type != 'TempCustomer'" ng-click="checkOut()" ng-disabled="cart.$invalid || kitValidation">
            <i ng-show="cart.$invalid || kitValidation" class="fa fa-warning"></i>
            <span>{{'Check Out' | r | xlat}} {{window.outerWidth}}</span>
        </button>
    </li>
</ul>
