<div class="451qa_prod_item row">
    <div class="row">
        <a class="thumbnail" href="product/{{LineItem.Product.InteropID}}">
            <figure ng-show="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl" >
                <img ng-src="{{LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl}}"/>
            </figure>
            <div class="empty" ng-hide="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl">
                <span class="fa empty"><i class="fa fa-camera"></i></span>
            </div>
        </a>
    </div>
    <div class="row name-container">
        <h5 class="pull-left">{{LineItem.Product.Name}}</h5>
    </div>
    <div class="row">
        <div class="col-xs-5 pull-left">
        <h5>{{LineItem.PriceSchedule.PriceBreaks[0].Price | culturecurrency}}</h5>
        </div>
        <div class="pull-right" style="max-width: 100%">
        <a class="btn btn-default btn-sm" href="product/{{LineItem.Product.InteropID}}">{{('add' | r) + ' ' + ('to' | r) + ' ' + ('cart' | r) | xlat}}</a>
        </div>
    </div>
</div>