<div class="row contact-request">
    <div class="col-md-5 col-md-offset-1 col-xs-12 col-sm-12">
        <form name="email_Send" novalidate="">
            <div class="row">
                <div class="view-form-icon">
                    <div class="col-md-6">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" tabindex="1" ng-model="EmailDetails.Name" required />
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="view-form-icon">
                    <div class="col-md-6">
                        <label>Email</label>
                        <input type="email" name="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z0-9._]+\.[a-z.]{2,5}$/" class="form-control" tabindex="2" ng-model="EmailDetails.Email" required />
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="view-form-icon">
                    <div class="col-md-12">
                        <label>Subject</label>
                        <input type="text" name="subject" class="form-control" tabindex="3" ng-model="EmailDetails.Subject" required />
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label>Comments or Questions</label>
                    <textarea class="form-control" name="comments" tabindex="4" ng-model="EmailDetails.CommentsQuestions" required></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn" type="submit" ng-disabled="email_Send.$invalid" ng-click="sendEmail(EmailDetails)">Send Message</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5 col-xs-12 col-sm-12">
        <div class="contact-info">
        <p>
            Have a question or comment? Have a suggestion for a new item? We'd love to hear from you. Fill out this contact form, send an email to <a href="mailto:shop@puppetlabs.com">shop@puppetlabs.com</a>
            or give us a call.
        </p>
            <br />
        <hr />
            <br />
        <ul>
            <li>308 SW 2nd Ave, 5th Floor</li>
            <li> Portland, OR 97204 </li>
            <li>
                <span class="fa fa-phone"></span>
                877-575-9775
            </li>
            <li>
                <span class="fa fa-envelope"></span>
                <a href="mailto:shop@puppetlabs.com">shop@puppetlabs.com</a>
            </li>
        </ul>
    </div>
</div>